* {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

.cursor {
    pointer-events: none;
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 90;
}

.cursorBlur {
    pointer-events: none;
    height: 240px;
    width: 240px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(100px);

}


.nav {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: fixed;
    padding: 0 100px;
    z-index: 999;
}

.nav img {
    height: 70px;
}

.nav h4 {
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main {
    position: relative;
    background-color: rgba(0,0,0,0.4);
}

.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}


.page1 h1 {
    font-family: 'arial black';
    font-size: 90px;
    position: relative;
}
 
.page1 h1::before{
    content: 'EAT. DRINK. PLAY.';
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

.page1 h2 {
    font-size: 28px;
    margin: 10px 0 15px;
}

.page1 p {
    width: 45%;
    font-size: 18px;
}

.page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}


.scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}
.scroller::-webkit-scrollbar{
    display: none;
}

.scroller1 {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4 {
    display: inline-block;
    font-size: 90px;
    margin-right: 20px;
    /* color: #95c11e; */
    color:black;
    transition: all linear 0.3s;
    -webkit-text-stroke: 2px #ffffff;
}

.scroller h4:hover {
    /* color: transparent; */
    color: #95c11e;
    -webkit-text-stroke: 2px #95c11e;
}



 @keyframes scroll {
        from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 14vh 5vw;
}

.aboutus1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:60vw;
    text-align: center;
}

.aboutus1 h3{
    font-size: 3vw;
    margin-bottom: 2rem;
}

.aboutus1 p {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
}